*{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}

body > header{
    background-color: #2f3640;
    padding: 16px 0;
    color: beige;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a {
    color: beige;
    text-decoration: none;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.articles  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    /*height: 180px; */
    width: 100%;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: blue;
    color: white;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline; 
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

#sports {
    background: rgba(0, 255, 0, 0.1);
}

#sports .articles article a {
    background: rgba(0, 255, 0, 0.8);
    color: black;
}

#economia {
    background-color: #f8f1b5;
}

#economia .articles article a {
    background-color: #ff9f1a;
    color: #696756;
}

#tecnologia {
    background-color: rgb(179, 174, 217);
}

#tecnologia .articles article a {
    background-color: rgb(84, 76, 65);
    color: rgb(238, 116, 116);
}

#entretenimento {
    background-color: rgb(180, 170, 180);
}

#entretenimento .articles article a {
    background-color: crimson;
}